<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="nav">
  <a href="/">Home</a>
  <a class="active" href="/value_iteration">Value Iteration</a>
  <a href="/policy_iteration">Policy Iteration</a>
</div>

<div>
<h3>Value Iteration</h3>

<p>Value Iteration Algorithm</p>


</div>

<div>
	<p><span style="color:red">(The buttons do things just not the correct things yet)</span></p>
	<button type="button" onclick="next_iteration('vi_table')">value Iteration</button>
	<button type="button" onclick="show_policy('vi_table')">show policy</button>
	<div id='vi_table'>
		{{table|safe}}
	</div>
</div>

<script type="text/javascript">

	var size = {{size}}
	var state_rewards_list = {{state_rewards_list|safe}}
    var blocked_states_list = {{blocked_states_list|safe}}
    var discount = {{discount}}
    var values = {{values}}
    var policy = {{policy}}

	function next_iteration(table_id){

		$.ajax({
	        method:"GET",
	        contentType: 'application/json',
	        url:"/value_iteration_step",
	        data:{"size": size,
	    		  "state_rewards_list": state_rewards_list,
	    		  "blocked_states_list": blocked_states_list,
	    		  "discount": discount},
	        success:function(resp, data){
	            var response = JSON.parse(resp);
	            var table = response['table']
	            document.getElementById(table_id).innerHTML = table
	            values = response['values']
	            policy = response['policy']
	        },
	    });
	}


	function show_policy(table_id){

		$.ajax({
	        method:"GET",
	        url:"/policy",
	        data:{"table_id": table_id},
	        success:function(resp, data){
	            var response = JSON.parse(resp);
	            var table = response['table']
	            document.getElementById(table_id).innerHTML = table
	        },
	    });
	}


	$("td").click(function() {
	    var index = $( "td" ).index( this );
	    var row = Math.floor( ( index ) / size) + 1;
	    var col = ( index % size ) + 1;
	    $( this ).css( 'background-color', 'yellow' );
	});


	/*
	$("#tableContainer").append(generateGrid(size, size, colors));

	$("td").click(function() {
	    var index = $( "td" ).index( this );
	    var row = Math.floor( ( index ) / size) + 1;
	    var col = ( index % size ) + 1;
	    $( "span" ).text( "That was row " + row + " and col " + col );
	    $( this ).css( 'background-color', 'red' );
	});
	*/


</script>


<style type="text/css">
	
	td {
	    border: 1px solid;
	    width: 50px;
	    height: 50px;
	}

</style>

</html>