<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="nav">
  <a href="/">Home</a>
  <a class="active" href="/value_iteration">Value Iteration</a>
  <a href="/policy_iteration">Policy Iteration</a>
</div>

<div>
<h3>Value Iteration</h3>

<p>Value Iteration Algorithm</p>


</div>

<div>
	<p><span style="color:red">(The buttons do things just not the correct things yet)</span></p>
	<button type="button" onclick="step('table')">value iteration</button>
	<button type="button" onclick="show_policy('table')">show policy</button>
	<div id='table'>
		{{table|safe}}
	</div>
</div>

<script type="text/javascript">

	var size = {{size}}
	var state_rewards_list = {{state_rewards_list}}
    var blocked_states_list = {{blocked_states_list}}
    var discount = {{discount}}
    var values = {{values}}
    var policy = {{policy}}

	function update_table(table_id, url){

		data = {"size": size,
	    		  "state_rewards_list": state_rewards_list,
	    		  "blocked_states_list": blocked_states_list,
	    		  "discount": discount,
	    		  "values": values,
	    		  "policy": policy}

		$.ajax({
	        method:"POST",
	        contentType: 'application/json',
	        url: url,
	        data:JSON.stringify(data),
	    	dataType: 'json',
          	contentType: 'application/json; charset=utf-8',
	        success:function(resp, data){
	            var response = resp;
	            var table = response['table']
	            document.getElementById(table_id).innerHTML = table
	            values = response['values']
	            policy = response['policy']
	        },
	    });
	}


	function step(table_id){

		update_table(table_id, "/value_iteration_step")
	}


	function show_policy(table_id){

		update_table(table_id, "/value_iteration_show_policy")
	}


	$("td").click(function() {
	    var index = $( "td" ).index( this );
	    var row = Math.floor( ( index ) / size) + 1;
	    var col = ( index % size ) + 1;
	    $( this ).css( 'background-color', 'yellow' );
	});


	/*
	$("#tableContainer").append(generateGrid(size, size, colors));

	$("td").click(function() {
	    var index = $( "td" ).index( this );
	    var row = Math.floor( ( index ) / size) + 1;
	    var col = ( index % size ) + 1;
	    $( "span" ).text( "That was row " + row + " and col " + col );
	    $( this ).css( 'background-color', 'red' );
	});
	*/


</script>


<style type="text/css">
	
	td {
	    border: 1px solid;
	    width: 50px;
	    height: 50px;
	}

</style>

</html>